@model Exam_Application.Models.DAL.tbl_StudentMasterss
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .firstdiv {
        margin-bottom: 8px;
    }

    .Seconddiv {
        margin: 6px 6px 6px 6px;
    }

    .dataTables_paginate {
        margin-bottom: 3%;
    }
</style>
<div id="page-content">
    <div class="container mrg">
        <div class="row firstdiv">
            <div class="col-md-12">
                <div class="btn-group">
                    <a href="#" name="add" onclick="GetEntryForm()" id="add" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add New Item</a>                        <a href="#" name="deleteallfrm" id="deleteallfrm" onclick="    check_perform_delete();" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete</a>
                </div>
                <br />
                <br />
                <div class="col-sm-12">
                    <div class="col-sm-2" style="font-weight:bold">
                        Select Course :
                    </div>
                    <div class="col-sm-6">
                        @Html.DropDownList("Course_fkid", (IEnumerable<SelectListItem>)@ViewBag.CourseList, new { @class = "form-control" })
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="widget">
                            <h4 class="widget-title"> <span>PIOC Course Data</span></h4>
                        </div>
                    </div>
                    <div class="table-responsive Seconddiv">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Course Name</th>
                                    <th>Division Name</th>
                                    <th>Student Name</th>
                                    <th>Added Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="targetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewBag.Exception' != "") {
            alert("@ViewBag.Exception");
        }
        $("#Course_fkid").val(2);
        $("#Course_fkid").change(function () {
            var cid = $("#Course_fkid").val();
            if (cid == 1)
            { window.location.href = "/ArrivalSchema/ArrivalDataList"; }
            else if (cid == 2) {  }
            else { window.location.href = "/ArrivalSchema/PIOCMAsterList"; }
        })
    })
    $('.js-basic-example').DataTable({
        "processing": true, // for show progress bar
        "serverSide": true, // for process server side
        "filter": true, // this is for disable filter (search box)
        "orderMulti": false, // for disable multiple column at once

        "ajax": {
            "url": "/ArrivalSchema/GetPIOCListList?id=" + $("#Course_fkid").val(),
            "type": "POST",
            "datatype": "json"
        },
        "columns": [
                { "data": "pkid", "name": "pkid", "orderable": false, "autoWidth": true },
                { "data": "course", "Name": "course", "autoWidth": true },
                   { "data": "divsion", "Name": "divsion", "autoWidth": true },
                      { "data": "studen", "Name": "studen", "autoWidth": true },
                        {
                            "data": "add", "Name": "add", "render": function (data, type, full, meta) {
                                if (data != null) {
                                    return JsDate(data)
                                } else { return "";}
                            }
                        },
                {
                    "data": "pkid", "orderable": false, "render": function (data, type, full, meta) {
                        return '<a href="/ArrivalSchema/PIOCMaster?id=' + data + '" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</a>                            <a href="#" onclick="check_perform_sdelete(' + data + ');" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete</a>';
                    }
                }

        ],
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $("td:first", nRow).html(iDisplayIndex + 1);
            return nRow;
        }
    })
    function EditTableTopMM(path) {
        var numberOfChecked = $('.chkselect:checked').length;
        var SelectedItem = "0";
        if (numberOfChecked == 0)
            alert("Please Checked Any Record");
        else {
            if (numberOfChecked == 1) {
                $('.chkselect:checked').each(function () {
                    if ($('.chkselect').is(':checked'))
                        SelectedItem = $(this).val();
                });
                var target = path + SelectedItem;
                window.location.href = target;
            }
            else {
                alert("Check Only One Row For Edit.")
            }
        }
    }
    function GetEntryForm() {
        debugger;
        var Course_fkid = $("#Course_fkid").val();
        if (Course_fkid == "1") {
            window.location.href = "/ArrivalSchema/REFMaster"
        }
        else if (Course_fkid == "2") {
            window.location.href = "/ArrivalSchema/PIOCMaster"
        }
        else {
            window.location.href = "/ArrivalSchema/REFMaster"
        }

    }
</script>

