<!DOCTYPE html>
<html lang="en" class="sb-init">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
    <title>
        Exam_Module
    </title>
    <meta name="description" content="Best CakePHP Based online exmaination and performance analysis system">   
    @*<link rel="stylesheet" type="text/css" href="~/AdminFiles/CSS/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/AdminFiles/CSS/style.css">
    <link rel="stylesheet" type="text/css" href="~/AdminFiles/CSS/style(1).css">
    <link rel="stylesheet" type="text/css" href="~/AdminFiles/CSS/fonts.css">
    <link rel="stylesheet" type="text/css" href="~/AdminFiles/CSS/plugins.css">
    <link rel="stylesheet" type="text/css" href="~/AdminFiles/CSS/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/AdminFiles/CSS/settings.css">
    <link rel="stylesheet" type="text/css" href="~/AdminFiles/CSS/validationEngine.jquery.css">
    <link rel="stylesheet" type="text/css" href="~/AdminFiles/RajCustom/DataTable/jquery.dataTables.min.css">*@
    @Styles.Render("~/Content/css")
    
    @*<script type="text/javascript" src="~/AdminFiles/JS/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="~/AdminFiles/JS/html5shiv.js"></script>
    <script type="text/javascript" src="~/AdminFiles/JS/respond.min.js"></script>
    <script type="text/javascript" src="~/AdminFiles/JS/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/AdminFiles/JS/jquery.validationEngine-en.js"></script>
    <script type="text/javascript" src="~/AdminFiles/JS/jquery.validationEngine.js"></script>
    <script type="text/javascript" src="~/AdminFiles/JS/superfish.js"></script>
    <script type="text/javascript" src="~/AdminFiles/JS/sidebar.js"></script>
    <script type="text/javascript" src="~/AdminFiles/JS/functions.js"></script>
    <script type="text/javascript" src="~/AdminFiles/JS/plugins.min.js"></script>
    <script type="text/javascript" src="~/AdminFiles/JS/revolution.min.js"></script>
    <script type="text/javascript" src="~/AdminFiles/JS/custom.min.js"></script>
    <script type="text/javascript" src="~/AdminFiles/JS/highcharts.js"></script>
    <script type="text/javascript" src="~/AdminFiles/RajCustom/common.js"></script>
    <script type="text/javascript" src="~/AdminFiles/RajCustom/DataTable/jquery.dataTables.js"></script>*@
    
    @Scripts.Render("~/bundles/jquery")
</head>
<body cz-shortcut-listen="true">
    <div id="sb-site" style="min-height: 1383px;">
        <div id="wrap">
            <div class="main-inner-content">
                <header id="header" class="section cover header-bg" data-bg="/AdminFiles/Images/slider.png" style="background-image: url(&quot;/AdminFiles/Images/slider.png&quot;);">
                    <div class="logo-header">
                        <div class="container">
                            <div class="ulogo-container clearfix">
                                <div class="logo pull-left">
                                    <h1 class="site-title">
                                        Welcome to Exam Site Admin Dashboard
                                    </h1>
                                    <p class="site-desc">Edu Expressio Demo Site</p>
                                </div>
                                <div class="social-info pull-right hidden-xs hidden-sm">
                                    <div class="col-md-4 mrg text-center">
                                        <div class="btn-group user-login">
                                            <div class="btn dropdown-toggle" style="background: none;border: 0px;box-shadow: none;" data-toggle="dropdown">
                                                <span class="glyphicon glyphicon-user btn btn-success btn-sm"></span>&nbsp;Welcome ! @try
                                                                                                                                     {@User.Identity.Name}
                                                                                                                                     catch { } &nbsp;<span class="caret"></span>
                                            </div>
                                            <div class="dropdown-menu" role="menu">
                                                <div class="col-md-12">
                                                    <div class="table-responsive">
                                                        <table class="table" style="margin-bottom:0px">
                                                            <tbody>
                                                                <tr>
                                                                    <td colspan="2"><a href="/Admin_Task/UserProfile" class="btn btn-primary btn-xs btn-block"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;My Profile</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><a href="/Account/ChangePassword" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-cog"></span>&nbsp;Change Password</a>											</td>
                                                                    <td><a href="/Account/LogOff" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-off"></span>&nbsp;Signout</a>											</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <strong><small><div id="clock"></div></small></strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="visible-xs visible-sm mobile-menu-action pull-right sb-toggle-right navbar-right"><i class="fa fa-bars"></i></div>
                    </div>
                    <div class="site-menu">
                        <div class="container">
                            <div class="site-menu-inner clearfix">
                                <div class="site-menu-container pull-left">
                                    <nav class="hidden-xs hidden-sm">
                                        <ul class="sf-menu clearfix list-unstyled sf-js-enabled sf-arrows">
                                            <li class="current-menu-item"><a href="http://eduexpression.com/envato/admin"><span class="glyphicon glyphicon-home"></span>&nbsp;Dashboard</a></li>
                                            <li class=""><a href="/SubjectGroup/SubjectMaster"><span class="glyphicon glyphicon-th-large"></span>&nbsp;Subjects</a></li>
                                            <li class=""><a href="/SubjectGroup/GroupMaster"><span class="glyphicon glyphicon-tasks"></span>&nbsp;Groups</a></li>
                                            <li class=""><a href="/SubjectGroup/StudentMaster"><span class="glyphicon glyphicon-user"></span>&nbsp;Students</a></li>
                                            <li class=""><a href="http://eduexpression.com/envato/admin/Exams"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Exams</a></li>
                                            <li class=""><a href="http://eduexpression.com/envato/admin/Results"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;Results</a></li>
                                            <li class=""><a href="http://eduexpression.com/envato/admin/Configurations"><span class="glyphicon glyphicon-wrench"></span>&nbsp;Configurations</a></li>
                                            <li class=""><a href="/Account/AdminUserRegister"><span class="glyphicon glyphicon-user"></span>&nbsp;Users</a></li>
                                            <li class=""><a href="http://eduexpression.com/envato/admin/Contents"><span class="glyphicon glyphicon-cog"></span>&nbsp;Contents</a></li>
                                            <li class=""><a href="http://eduexpression.com/envato/admin/Helps"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;Help</a></li>
                                            <li class="menu-hidden"><a href="http://eduexpression.com/envato/admin/Users/myProfile"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;My Profile</a></li>
                                            <li class="menu-hidden"><a href="http://eduexpression.com/envato/admin/Users/changePass"><span class="glyphicon glyphicon-cog"></span>&nbsp;Change Password</a></li>
                                            <li class="menu-hidden"><a href="http://eduexpression.com/envato/admin/Users/logout"><span class="glyphicon glyphicon-off"></span>&nbsp;Signout</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                @RenderBody()
            </div>
            <footer id="footer">
                <div class="footer-widget">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="widget">
                                    <h5 class="widget-title">
                                        Copyright © 2014<span> Edu Expressio Demo Site</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <div class="widget">
                                    <h5 class="widget-title">
                                        Time <span>14-11-2017 04:20:34 PM</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-credits">
                    <div class="container">
                        <div class="footer-credits-inner">
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Powered by <a href="http://www.eduexpression.com/" target="_blank">Eduexpression.com</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
    </div>
    <div class="sb-slidebar sb-right">
        <div class="sb-menu-trigger"></div><ul class="mobile-menu">
            <li class="current-menu-item"><a href="http://eduexpression.com/envato/admin"><span class="glyphicon glyphicon-home"></span>&nbsp;Dashboard</a></li>
            <li><a href="http://eduexpression.com/envato/admin/Subjects"><span class="glyphicon glyphicon-th-large"></span>&nbsp;Subjects</a></li>
            <li><a href="http://eduexpression.com/envato/admin/Groups"><span class="glyphicon glyphicon-tasks"></span>&nbsp;Groups</a></li>
            <li><a href="http://eduexpression.com/envato/admin/Students"><span class="glyphicon glyphicon-user"></span>&nbsp;Students</a></li>
            <li><a href="http://eduexpression.com/envato/admin/Exams"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Exams</a></li>
            <li><a href="http://eduexpression.com/envato/admin/Results"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;Results</a></li>
            <li><a href="http://eduexpression.com/envato/admin/Configurations"><span class="glyphicon glyphicon-wrench"></span>&nbsp;Configurations</a></li>
            <li><a href="http://eduexpression.com/envato/admin/Users"><span class="glyphicon glyphicon-user"></span>&nbsp;Users</a></li>
            <li><a href="http://eduexpression.com/envato/admin/Contents"><span class="glyphicon glyphicon-cog"></span>&nbsp;Contents</a></li>
            <li><a href="http://eduexpression.com/envato/admin/Helps"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;Help</a></li>
            <li class="menu-hidden"><a href="http://eduexpression.com/envato/admin/Users/myProfile"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;My Profile</a></li>
            <li class="menu-hidden"><a href="http://eduexpression.com/envato/admin/Users/changePass"><span class="glyphicon glyphicon-cog"></span>&nbsp;Change Password</a></li>
            <li class="menu-hidden"><a href="http://eduexpression.com/envato/admin/Users/logout"><span class="glyphicon glyphicon-off"></span>&nbsp;Signout</a></li>
        </ul>
    </div><a class="back-to-top" style="display: none;"><i class="fa fa-angle-up"></i></a>
</body>
@RenderSection("Scripts", required: false)
</html>

