
@model Exam_Application.Models.DAL.tbl_StudentMasterss
@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0032)http://eduexpression.com/envato/ -->
<html lang="en" class="sb-init">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-translate-customization" content="839d71f7ff6044d0-328a2dc5159d6aa2-gd17de6447c9ba810-f">
    <title>
        Student Login
    </title>
    <meta name="description" content="Best CakePHP Based online exmaination and performance analysis system">
    @*<link href="http://eduexpression.com/envato/favicon.ico" type="image/x-icon" rel="icon">
        <link href="http://eduexpression.com/envato/favicon.ico" type="image/x-icon" rel="shortcut icon">
        <link rel="stylesheet" type="text/css" href="./PHP MYSQL Online Examination System_files/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="./PHP MYSQL Online Examination System_files/style.css">
        <link rel="stylesheet" type="text/css" href="./PHP MYSQL Online Examination System_files/style(1).css">
        <link rel="stylesheet" type="text/css" href="./PHP MYSQL Online Examination System_files/fonts.css">
        <link rel="stylesheet" type="text/css" href="./PHP MYSQL Online Examination System_files/plugins.css">
        <link rel="stylesheet" type="text/css" href="./PHP MYSQL Online Examination System_files/responsive.css">
        <link rel="stylesheet" type="text/css" href="./PHP MYSQL Online Examination System_files/settings.css">
        <link rel="stylesheet" type="text/css" href="./PHP MYSQL Online Examination System_files/validationEngine.jquery.css">



        <script type="text/javascript" src="./PHP MYSQL Online Examination System_files/jquery-1.8.2.min.js.download"></script>
        <script type="text/javascript" src="./PHP MYSQL Online Examination System_files/html5shiv.js.download"></script>
        <script type="text/javascript" src="./PHP MYSQL Online Examination System_files/respond.min.js.download"></script>
        <script type="text/javascript" src="./PHP MYSQL Online Examination System_files/bootstrap.min.js.download"></script>
        <script type="text/javascript" src="./PHP MYSQL Online Examination System_files/jquery.validationEngine-en.js.download"></script>
        <script type="text/javascript" src="./PHP MYSQL Online Examination System_files/jquery.validationEngine.js.download"></script>
        <script type="text/javascript" src="./PHP MYSQL Online Examination System_files/superfish.js.download"></script>
        <script type="text/javascript" src="./PHP MYSQL Online Examination System_files/sidebar.js.download"></script>
        <script type="text/javascript" src="./PHP MYSQL Online Examination System_files/functions.js.download"></script>
        <script type="text/javascript" src="./PHP MYSQL Online Examination System_files/plugins.min.js.download"></script>
        <script type="text/javascript" src="./PHP MYSQL Online Examination System_files/revolution.min.js.download"></script>
        <script type="text/javascript" src="./PHP MYSQL Online Examination System_files/custom.min.js.download"></script>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
</head>
<body cz-shortcut-listen="true">

    <div id="sb-site" style="min-height: 1137px;">
        <div id="wrap">
            <div class="main-inner-content">
                <header id="header" class="section cover header-bg" data-bg="/envato//img//design200/slider.png" style="background-image: url(&quot;/envato//img//design200/slider.png&quot;);">
                    <div class="header-fixed affix">
                        <div class="logo-header">
                            <div class="container">
                                <div class="logo-container pull-left clearfix">
                                    <div class="logo">
                                        <h1 class="site-title"></h1><h1>Edu Expressio Demo Site</h1>

                                        <p class="site-desc">Edu Expressio Demo Site</p>
                                    </div>
                                </div>                          
                                <div class="menu-container pull-right">
                                    <div class="site-menu">
                                        <div class="site-menu-inner clearfix">
                                            <div class="site-menu-container pull-left">
                                                <nav class="hidden-xs hidden-sm">
                                                    <ul class="sf-menu clearfix list-unstyled sf-js-enabled sf-arrows">
                                                        <li class="current-menu-item"><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a></li>
                                                        <li
                                                        <li ="" class=""><a href="#"><span class="glyphicon glyphicon-lock"></span>&nbsp;Sign In</a></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="visible-xs visible-sm mobile-menu-action pull-right sb-toggle-right navbar-right"><i class="fa fa-bars"></i></div>
                        </div>
                    </div>
                    <div class="logo-header">
                        <div class="container">
                            <div class="logo-container clearfix">
                                <div class="logo pull-left">
                                    <h1 class="site-title"></h1><h1>Edu Expressio Demo Site</h1>

                                    <p class="site-desc">Edu Expressio Demo Site</p>
                                </div>
                                <div class="social-info pull-right hidden-xs hidden-sm">
                                    <div class="col-md-4 text-center">
                                        <div class="btn-group user-login">
                                            <div class="btn dropdown-toggle" style="background: none;border: 0px;box-shadow: none;" data-toggle="dropdown">
                                                <span class="glyphicon glyphicon-user btn btn-success btn-sm"></span>&nbsp;Welcome ! @try
                                                {@Request.Cookies["search"].Values["Stud"]}
                                                catch { } &nbsp;<span class="caret"></span>
                                            </div>
                                            <div class="dropdown-menu" role="menu">
                                                <div class="col-md-12">
                                                    <div class="table-responsive">
                                                        <table class="table" style="margin-bottom:0px">
                                                            <tbody>
                                                                <tr>
                                                                    <td colspan="2"><a href="#" class="btn btn-primary btn-xs btn-block"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;My Profile</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><a href="#" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-cog"></span>&nbsp;Change Password</a>											</td>
                                                                    <td><a href="/StudentExam/StudentLogout" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-off"></span>&nbsp;Signout</a>											</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <strong><small><div id="clock"></div></small></strong>
                                    </div>
                                </div>
                                <div class="social-info pull-right hidden-xs hidden-sm" style="display:none;">
                                    <ul class="social textcolor list-unstyled">
                                        <li class="phone active"><a href="#"><i class="fa fa-phone"></i><span>0000-0000</span></a></li>
                                        <li class="mail"><a href="#"><i class="fa fa-envelope"></i><span>info@eduexpression.com</span></a></li>
                                        <li class="facebook"><a href="http://facebook.com/" target="_blank"><i class="fa fa-facebook"></i><span>follow on facebook</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="visible-xs visible-sm mobile-menu-action pull-right sb-toggle-right navbar-right"><i class="fa fa-bars"></i></div>
                    </div>
                    <div class="site-menu">
                        <div class="container">
                            <div class="site-menu-inner clearfix">
                                <div class="site-menu-container pull-left">
                                    <nav class="hidden-xs hidden-sm">
                                        <ul class="sf-menu clearfix list-unstyled sf-js-enabled sf-arrows">
                                            <li class="current-menu-item"><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a></li>
                                            <li
                                            <li ="" class=""><a href="#"><span class="glyphicon glyphicon-lock"></span>&nbsp;Sign In</a></li>

                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                </header>
                <div id="page-content">
                    <div class="container mrg">
                        <div class="row">

                            <div class="col-md-12">
                             
                                @using (Html.BeginForm("StudentLogin", "StudentExam", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <div class="widget">
                                                        <h4 class="widget-title"> <span>Exams</span></h4>
                                                    </div>
                                                </div>
                                                <div class="table-responsive Seconddiv">
                                                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                                        <thead>
                                                            <tr>
                                                                <th>S.No</th>                                                            
                                                                <th>Exam Name</th>
                                                                <th>Total Marks</th>
                                                                <th>Exam Duration</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>

                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><footer id="footer">
            <div class="footer-widget">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="widget">
                                <h5 class="widget-title">
                                    Copyright © 2017<span> Edu Expressio Demo Site</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="widget">
                                <h5 class="widget-title">
                                    Time <span>13-12-2017 05:07:04 PM</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-credits">
                <div class="container">
                    <div class="footer-credits-inner">
                        <div class="row">
                            <div class="col-md-6">
                                <span>Powered by <a href="#" target="_blank">Eduexpression.com</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>



    <div class="sb-slidebar sb-right">
        <div class="sb-menu-trigger"></div><ul class="mobile-menu">
            <li class="current-menu-item"><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a></li>         
            <li><a href="#"><span class="glyphicon glyphicon-lock"></span>&nbsp;Sign In</a></li>
        </ul>
    </div><a class="back-to-top" style="display: block;"><i class="fa fa-angle-up"></i></a>
</body>
</html>
<script type="text/javascript">
    if ('@ViewBag.Exception' != "") {
        PranavAlert("Alert","@ViewBag.Exception");
    }
    $('.js-basic-example').DataTable({
        "processing": true, // for show progress bar
        "serverSide": true, // for process server side
        "filter": true, // this is for disable filter (search box)
        "orderMulti": false, // for disable multiple column at once

        "ajax": {
            "url": "/StudentExam/GetExamList",
            "type": "POST",
            "datatype": "json"
        },
        "columns": [
                { "data": "pkid", "name": "pkid", "orderable": false, "autoWidth": true },
                
                { "data": "fullname", "Name": "fullname", "autoWidth": true },
                   { "data": "passper", "Name": "passper", "autoWidth": true },
                      { "data": "examduration", "Name": "examduration", "autoWidth": true },
                {
                    "data": "pkid", "orderable": false, "render": function (data, type, full, meta) {
                        return '<a href="/StudentExam/ReadInstruction?id='+data+'" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span>&nbsp;Attempt Exam</a>';
                    }
                }

        ],
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $("td:first", nRow).html(iDisplayIndex + 1);
            return nRow;
        }
    })
   
</script>
