@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
         Front Page
    </title>
    <link href="#" type="image/x-icon" rel="icon">
    <link href="#" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" type="text/css" href="~/AdminFiles/CSS/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/AdminFiles/CSS/style.css">
    <script type="text/javascript" src="~/AdminFiles/JS/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="~/AdminFiles/JS/html5shiv.js"></script>
    <script type="text/javascript" src="~/AdminFiles/JS/respond.min.js"></script>
    <script type="text/javascript" src="~/AdminFiles/JS//bootstrap.min.js"></script>
    <style>
        .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
            border-top: 0px solid #ddd;
        }
    </style>
</head>
<body cz-shortcut-listen="true">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mrg">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <boody>
                            </boody><table class="table">
                                <tbody>
                                    <tr>
                                        <td colspan="2" align="center">
                                            <img src="~/AdminFiles/Images/logo.png" alt="Itech Galaxy" class="img-responsive">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="center"></td>
                                    </tr>
                                    <tr>
                                        <td align="center"><a href="/Account/AdminLogin"><img src="~/AdminFiles/Images/admin.png" alt="Admin" class="responsive"></a></td>
                                        <td align="center"><a href="/StudentExam/StudentLogin"><img src="~/AdminFiles/Images/graduated.png" alt="Admin" class="responsive"></a></td>
                                    </tr>
                                    <tr>
                                        <td align="center"><span class="text-muted"><h4><strong><a href="/Account/AdminLogin">Go to Admin/Teacher Interface</a></strong></h4></span></td>
                                        <td align="center"><span class="text-muted"><h4><strong><a href="/StudentExam/StudentLogin">Go to Front End/Student Interface</a></strong></h4></span></td>
                                    </tr>
                                    <tr>
                                        <td align="center"><span class="text-danger"><strong>User : admin</strong></span></td>
                                        <td align="center"><span class="text-danger"><strong>User : student@student.com</strong></span></td>
                                    </tr>
                                    <tr>
                                        <td align="center"><span class="text-danger"><strong>Password : admin</strong></span></td>
                                        <td align="center"><span class="text-danger"><strong>Password : demo123</strong></span></td>
                                    </tr>



                                </tbody>
                            </table>
                            <br> <br>
                            <h2 align="center"> Looking for More Features ? Try <font color="red"><a href="#" style="color:red;">Itech</a> </font> </h2>
                            <p align="center"><b> Pro Version Benefits :</b> Frequent Updates, Faster Dedicated Support, More Features andWhite Label </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12 text-center">Visit our website <a href="http://www.itechgalaxy.com" target="_blank">http://www.itechgalaxy.com</a> for documentation and support</div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>