@model Exam_Application.Models.DAL.tbl_Subject_masterss
@{
    
}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-default mrg">
                <div class="panel-heading"><div class="widget-modal"><h4 class="widget-modal-title">Add <span>Subject</span><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button></h4></div></div>
                <div class="panel-body">
                    @using (Html.BeginForm("AddSubject", "SubjectGroup", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.HiddenFor(x => x.pkid)
                        @Html.ValidationSummary()
                        <div class="form-group">
                            <label for="group_name" class="col-sm-3 control-label"><small>Subject Name</small></label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.subjectName, new { @class = "form-control Rajstring", placeholder = "Enter Subject Name", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="group_name" class="col-sm-3 control-label"><small>Subject Description</small></label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(x => x.subjectDescription, new { @class = "form-control Rajstring", placeholder = "Enter Subject Description"})
                            </div>
                        </div>
                        <div class="form-group text-left">
                            <div class="col-sm-offset-3 col-sm-10">
                                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Save</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


