@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .firstdiv {
        margin-bottom: 8px;
    }

    .Seconddiv {
        margin: 6px 6px 6px 6px;
    }

    .dataTables_paginate {
        margin-bottom: 3%;
    }
</style>
<div id="page-content">
    <div class="container mrg">
        <div class="row firstdiv">
            <div class="col-md-12">
                <div class="btn-group">
                    <a href="/SubjectGroup/AddQuestion" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add New Question</a>            <a href="/SubjectGroup/UploadExcel" class="btn btn-success" style="background-color:#EF4A43;border-color:#EF4A43;"><span class="glyphicon glyphicon-plus"></span>&nbsp;Upload Question Excel</a>          <a href="#" style="display:none;" name="deleteallfrm" id="deleteallfrm" onclick="check_perform_delete();" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete</a>
                </div>
            </div>         
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="widget">
                            <h4 class="widget-title"> <span>Questions</span></h4>
                        </div>
                    </div>
                    <div class="table-responsive Seconddiv">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>S.No</th>                                                        
                                    <th>Question</th>
                                    <th>Course</th>                                  
                                    <th>Division</th>                                  
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="targetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-content">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewBag.Exception' != "") {
            PranavAlert("Success", "@ViewBag.Exception");
        }
    })
    $('.js-basic-example').DataTable({
        "processing": true, // for show progress bar
        "serverSide": true, // for process server side
        "filter": true, // this is for disable filter (search box)
        "orderMulti": false, // for disable multiple column at once
        "bSort": false,

        "ajax": {
            "url": "/SubjectGroup/QuestionListLogic",
            "type": "POST",
            "datatype": "json"
        },
        "columns": [
                { "data": "pkid", "name": "pkid", "orderable": false, "autoWidth": true },                
                { "data": "name", "Name": "name", "autoWidth": true },
                { "data": "subject", "Name": "subject", "autoWidth": true },
                  { "data": "div", "Name": "div", "autoWidth": true },
                {
                    "data": "pkid", "orderable": false, "render": function (data, type, full, meta) {
                        return '<a href="/SubjectGroup/AddQuestion?id=' + data + '"><i class="fa fa-pencil-square-o fa-1x" title="Edit" aria-hidden="true"></i></a>     &nbsp; &nbsp;         <a href="#" name="/SubjectGroup/DeleteQuestion?id=' + data + '" onclick="DeleteRow(this)"><i class="fa fa-trash-o fa-1x" title="Delete" aria-hidden="true"></i></a>';
                    }
                }
        ],
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $("td:first", nRow).html(iDisplayIndex + 1);
            return nRow;
        }
    })

    function DeleteRow(cname)
    {
        debugger;
        var path = cname.name;
        if (confirm("Do you want to delete record")) 
        $.post(path, function (data) {
            alert(data);
            window.location.reload();
        })
    }
</script>
